<div class="container container-center border border-dark WD">

<div class="container border border-dark cityD">
<h1>{{city.LocalizedName}}</h1>
</div>

<div class="container col-md addTF" > 
  <input type="button" value="add me to favorites" class="text-white favBTN" (click)="addCityToFavorites()">
</div>

<!-- <div class="container col-md addTF" > 
<input *ngIf="favorite" type="button" value="remove me from favorites" class="text-white favBTN" (click)="addCityToFavorites()"> -->
<!-- </div>  -->

<button type="button" class="close clsICN" aria-label="Close" (click)="closeDetails()">
  <span aria-hidden="true">&times;</span>
</button>

<div class="container SDays">
<div class="row">
     
<div *ngFor="let t of cityNextWeather.DailyForecasts" class="container col-md">
  <h5  class="text-center">{{getDay(t.Date) | date:'EEEE'}}</h5>
<h3 class="text-center" >{{(t.Temperature.Maximum.Value-32)*5/9| number:'1.0-0'}} - {{(t.Temperature.Minimum.Value-32)*5/9| number:'1.0-0'}} c</h3>
</div>
</div>